In [6]:
#1 - Tuples are Immutable Sequences

# Exercise 1
# Create a tuple "cardinal_numbers" with "first", "second" and "third"
cardinal_numbers = ("first", "second", "third")
print(cardinal_numbers)

# Exercise 2
# Display the second object in the tuple
print(cardinal_numbers[1])


# Exercise 3
# unpack the tuple into three string and display them

position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)


# Exercise 4
# Create a tuple containing the letters of your name from a string

my_name = ("Sujit")

# Exercide 5
# Check whether or not x is in my_name

print('x' in my_name)

# Exercise 6
# Create tuple containing all but the first letter in my_name

print(my_name[1:])

('first', 'second', 'third')
second
first
second
third
False
ujit

In [16]:
#2 - Lists are Mutable Sequences


# Exercise 1
# Create a list named food with two elements "rice" and "beans".

foods = ["rice", "beans"]

# Exercise 2
# Append the string "broccolo" to the food list using .append()

foods.append("broccolo")


# Exercise 3
# Add the strings "bread" and "pizza" to food using .extend()
foods.extend(["bread", "pizza"])
print(foods)

# Exercise 4
# Print the first two items in food using slicing notation

print(foods[:2])


# Exercise 5
# Print the last item in food using index notation
print(foods[-1])



# Exercise 6
# Create a list called breakfast from the string "eggs, fruit, orange juice"
breakfast = "eggs, fruit, orange juice".split()
print(breakfast)

# Exercise 7
# Verify that breakfast has three items using len()

print(len(breakfast)==3)


# Exercise 8
# Create a new list called `lengths` using a list
# comprehension that contains the lengths of each
# string in the `breakfast` list.

lengths = [len(breakfast) for i in breakfast]
lengths

['rice', 'beans', 'broccolo', 'bread', 'pizza']
['rice', 'beans']
pizza
['eggs,', 'fruit,', 'orange', 'juice']
False

[4, 4, 4, 4]

In [25]:
#3 - Nesting, Copying, and Sorting Lists and Tuples



# Exercise 1
# Create a tuple called data with two values, (1, 2) and (3, 4)
data = ((1,2),(3,4))
print(data)


# Exercise 2
# Loop over data a print the sum of each nested tuple
for i in range(len(data)):
    print(f"Row {i+1} sum: {data[i][0] + data[i][1]}")
    
    
    
    
# Exercise 3
# Create the list [4, 3, 2, 1] and assign it to variable numbers

numbers = [4, 3, 2, 1]


# Exercise 4
# Create a copy of the number list using [:]

numbers_copy = numbers[:]
print(numbers_copy)


# Exercise 5
# Sort the numbers list in numerical order
numbers.sort()
print(numbers)

((1, 2), (3, 4))
Row 1 sum: 3
Row 2 sum: 7
[4, 3, 2, 1]
[1, 2, 3, 4]

In [26]:
#4 - Challenge: List of Lists

def enrollment_stats(list_of_universities):
    
    # Variables
    total_students = []
    total_tuition = []
    
    # Iterate through lists, adding values
    for university in list_of_universities:
        total_students.append(university[1])
        total_tuition.append(university[2])
        
        # Return variables
        
    return total_students, total_tuition


def mean(values):
    """Return the mean value in the list `values`"""
    return sum(values) / len(values)


def median(values):
    """Return the median value of the list `values`"""
    values.sort()
    # If the number of valus is odd,
    # return the middle value of the list
    if len(values) % 2 == 1:
        # The value at the center of the list is the value
        # at whose index is half of the length of the list,
        # rounded down
        center_index = int(len(values) / 2)
        return values[center_index]
    # Otherwise, if the length of the list is even, return
    # the mean of the two center values
    else:
        left_center_index = (len(values) - 1) // 2
        right_center_index = (len(values) + 1) // 2
        return mean([values[left_center_index], values[right_center_index]])


universities = [
    ["California Institute of Technology", 2175, 37704],
    ["Harvard", 19627, 39849],
    ["Massachusetts Institute of Technology", 10566, 40732],
    ["Princeton", 7802, 37000],
    ["Rice", 5879, 35551],
    ["Stanford", 19535, 40569],
    ["Yale", 11701, 40500],
]

totals = enrollment_stats(universities)

print("\n")
print("*****" * 6)
print(f"Total students:   {sum(totals[0]):,}")
print(f"Total tuition:  $ {sum(totals[1]):,}")
print(f"\nStudent mean:     {mean(totals[0]):,.2f}")
print(f"Student median:   {median(totals[0]):,}")
print(f"\nTuition mean:   $ {mean(totals[1]):,.2f}")
print(f"Tuition median: $ {median(totals[1]):,}")
print("*****" * 6)
print("\n")

In [36]:
#5 -Exercise w3resource.com

#1. Write a Python program to create a tuple.
empty_tuple = ()
tuple_emp = tuple()
single_tuple = 'abc', 
multiple_tuple = 'abc', 'xyz'
multiple_tuple_ = ('abc', 'xyz', 'pqr')
my_list = [1, 2, 3, 3, 4]
new_tuple = tuple(my_list)
new_tuple



#2. Write a Python program to create a tuple with different data types.
my_tuple = ('a', 1, 2.5, ['a', 1, 2.5], True)
my_tuple

for i in my_tuple:
    print(i,'type is',type(i))

a type is <class 'str'>
1 type is <class 'int'>
2.5 type is <class 'float'>
['a', 1, 2.5] type is <class 'list'>
True type is <class 'bool'>

In [ ]:
## List Exercises (Basic ==> Hard)
### Source:- PYnative

In [2]:
# Exercise 1: Reverse a list in Python

list1 = [100, 200, 300, 400, 500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

In [3]:
list1 = [100, 200, 300, 400, 500]
list1[::-1]

[500, 400, 300, 200, 100]

In [7]:
# Exercise 2: Concatenate two lists index-wise
# Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.#
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
list3

['My', 'name', 'is', 'Kelly']

In [8]:
# Exercise 3: Turn every item of a list into its square

numbers = [1, 2, 3, 4, 5, 6, 7]
""" Given a list of numbers. write a program to turn every item of a list into its square."""

squares = [i ** 2 for i in numbers]
squares

[1, 4, 9, 16, 25, 36, 49]

In [9]:
res = []
for i in numbers:
    res.append(i*i)
    
    
res

[1, 4, 9, 16, 25, 36, 49]

In [15]:
# Exercise 4: Concatenate two lists in the following order

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list3 = [i+j for i in list1 for j in list2]
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [20]:
# Exercise 5: Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
""" output ==>  10 400
                20 300
                30 200
                40 100"""


for i,j in zip(list1, list2[::-1]):
    print(i, j)

10 400
20 300
30 200
40 100